In [1]:
import os
import pandas as pd
import numpy as np
import scipy as st
import matplotlib as plt
import pathlib as path

In [2]:
marvel_vs_dc_df = pd.read_csv('Marvel Vs DC NEW.csv')
marvel_dc_movie_df = pd.read_csv('dc_marvel_movie_performance.csv')
mcu_boxoffice_df = pd.read_csv('mcu_box_office.csv')

#merged_df = pd.merge(marvel_vs_dc_df, marvel_dc_movie_df, mcu_boxoffice_df, how = 'left', on=)

#merged_df.head()                     
marvel_dc_movie_df.dtypes

Film                                             object
U.S. release date                                object
Box office gross Domestic (U.S. and Canada )     object
Box office gross Other territories               object
Box office gross Worldwide                       object
Budget                                           object
MCU                                                bool
Phase                                           float64
Distributor                                      object
MPAA Rating                                      object
Length                                           object
Minutes                                           int64
Franchise                                        object
Character Family                                 object
Domestic %                                       object
Gross to Budget                                 float64
Rotten Tomatoes Critic Score                      int64
Male/Female-led                                  object
Year                                              int64
Inflation Adjusted Worldwide Gross               object
Inflation Adjusted Budget                        object
2.5x prod                                        object
Break Even                                       object
dtype: object

In [3]:
#Marvel types

marvel_dc_movie_df.head()

,Film,U.S. release date,Box office gross Domestic (U.S. and Canada ),Box office gross Other territories,Box office gross Worldwide,Budget,MCU,Phase,Distributor,MPAA Rating,...,Character Family,Domestic %,Gross to Budget,Rotten Tomatoes Critic Score,Male/Female-led,Year,Inflation Adjusted Worldwide Gross,Inflation Adjusted Budget,2.5x prod,Break Even
0,Superman,15/12/1978,"$134,478,449.00","$166,000,000.00","$300,478,449.00","$55,000,000.00",False,NaN,Warner Bros.,PG,...,Superman,45%,5.46,94,Male,1978,"$1,404,237,104.00","$257,033,544.00","$137,500,000.00",Success
1,Superman II,19/06/1981,"$108,185,706.00","$108,200,000.00","$216,385,706.00","$54,000,000.00",False,NaN,Warner Bros.,PG,...,Superman,50%,4.01,83,Male,1981,"$725,336,273.00","$181,010,842.00","$135,000,000.00",Success
2,Superman III,17/06/1983,"$59,950,623.00","$20,300,000.00","$80,250,623.00","$39,000,000.00",False,NaN,Warner Bros.,PG,...,Superman,75%,2.06,29,Male,1983,"$245,506,947.00","$119,310,861.00","$97,500,000.00",Flop
3,Supergirl,21/11/1984,"$14,296,438.00",NaN,"$14,296,438.00","$35,000,000.00",False,NaN,Tri-Star Pictures,PG,...,Superman,100%,0.41,8,Female,1984,"$41,926,345.00","$102,642,497.00","$87,500,000.00",Flop
4,Howard the Duck,01/08/1986,"$16,295,774.00","$21,667,000.00","$37,962,774.00","$37,000,000.00",False,NaN,Universal Pictures,PG,...,Howard the Duck,43%,1.03,13,Male,1986,"$37,962,774.00","$37,000,000.00","$92,500,000.00",Flop

In [21]:
grouped_movie_df = marvel_dc_movie_df.groupby(['Franchise', 'Male/Female-led'])
grouped_movies = pd.DataFrame(grouped_movie_df['Male/Female-led'].count())
grouped_movies

                           Male/Female-led
Franchise Male/Female-led
DC        Co-starring                    1
          Female                         5
          Male                          35
Marvel    Co-starring                    3
          Female                         8
          Male                          61

In [28]:
#generate pie chart VISUALIZATION #1
male_vs_female = grouped_movies[['Franchise','Male/Female-led']]
male_female_counts = male_vs_female['Male/Female-led'].value_counts()
plt.figure(figsize=(8,6))
plt.pie(male_female_counts, labels=male_female_counts.index, autopct='%1.1f%%', startangle=90, shadow=True)
plt.title('Distribution of Male vs Female Led Films')
plt.axis('equal')
plt.show()

KeyError: "['Franchise'] not in index"

In [29]:
#generate pie chart VISUALIZATION #2 - Budget vs male/female
male_vs_female_pyplot = grouped_movies['Male/Female-led'].value_counts()
plt.figure(figsize=(10, 5))
plt.bar(male_vs_female_pyplot.index, male_vs_female_pyplot.values)
plt.xlabel('Franchise')
plt.ylabel('Male/Female-led')
plt.title('Franchise vs Male/Female Lead')
plt.xticks(rotation=45)
plt.show()

##Need to add BUDGET in here!

AttributeError: module 'matplotlib' has no attribute 'figure'