In [8]:
import os
import pandas as pd
import numpy as np
import scipy as st
import matplotlib as plt
import pathlib as path

In [46]:
marvel_vs_dc_df = pd.read_csv('Marvel Vs DC NEW.csv')
marvel_dc_movie_df = pd.read_csv('dc_marvel_movie_performance.csv')
mcu_boxoffice_df = pd.read_csv('mcu_box_office.csv')

#merged_df = pd.merge(marvel_vs_dc_df, marvel_dc_movie_df, mcu_boxoffice_df, how = 'left', on=)

#merged_df.head()                     
marvel_dc_movie_df.dtypes

Film                                             object
U.S. release date                                object
Box office gross Domestic (U.S. and Canada )     object
Box office gross Other territories               object
Box office gross Worldwide                       object
Budget                                           object
MCU                                                bool
Phase                                           float64
Distributor                                      object
MPAA Rating                                      object
Length                                           object
Minutes                                           int64
Franchise                                        object
Character Family                                 object
Domestic %                                       object
Gross to Budget                                 float64
Rotten Tomatoes Critic Score                      int64
Male/Female-led                                  object
Year                                              int64
Inflation Adjusted Worldwide Gross               object
Inflation Adjusted Budget                        object
2.5x prod                                        object
Break Even                                       object
dtype: object

In [47]:
#Marvel types

marvel_dc_movie_df.head()

,Film,U.S. release date,Box office gross Domestic (U.S. and Canada ),Box office gross Other territories,Box office gross Worldwide,Budget,MCU,Phase,Distributor,MPAA Rating,...,Character Family,Domestic %,Gross to Budget,Rotten Tomatoes Critic Score,Male/Female-led,Year,Inflation Adjusted Worldwide Gross,Inflation Adjusted Budget,2.5x prod,Break Even
0,Superman,15/12/1978,"$134,478,449.00","$166,000,000.00","$300,478,449.00","$55,000,000.00",False,NaN,Warner Bros.,PG,...,Superman,45%,5.46,94,Male,1978,"$1,404,237,104.00","$257,033,544.00","$137,500,000.00",Success
1,Superman II,19/06/1981,"$108,185,706.00","$108,200,000.00","$216,385,706.00","$54,000,000.00",False,NaN,Warner Bros.,PG,...,Superman,50%,4.01,83,Male,1981,"$725,336,273.00","$181,010,842.00","$135,000,000.00",Success
2,Superman III,17/06/1983,"$59,950,623.00","$20,300,000.00","$80,250,623.00","$39,000,000.00",False,NaN,Warner Bros.,PG,...,Superman,75%,2.06,29,Male,1983,"$245,506,947.00","$119,310,861.00","$97,500,000.00",Flop
3,Supergirl,21/11/1984,"$14,296,438.00",NaN,"$14,296,438.00","$35,000,000.00",False,NaN,Tri-Star Pictures,PG,...,Superman,100%,0.41,8,Female,1984,"$41,926,345.00","$102,642,497.00","$87,500,000.00",Flop
4,Howard the Duck,01/08/1986,"$16,295,774.00","$21,667,000.00","$37,962,774.00","$37,000,000.00",False,NaN,Universal Pictures,PG,...,Howard the Duck,43%,1.03,13,Male,1986,"$37,962,774.00","$37,000,000.00","$92,500,000.00",Flop

In [50]:
grouped_movie_df = marvel_dc_movie_df.groupby('Franchise')
grouped_movie_df.head()

,Film,U.S. release date,Box office gross Domestic (U.S. and Canada ),Box office gross Other territories,Box office gross Worldwide,Budget,MCU,Phase,Distributor,MPAA Rating,...,Character Family,Domestic %,Gross to Budget,Rotten Tomatoes Critic Score,Male/Female-led,Year,Inflation Adjusted Worldwide Gross,Inflation Adjusted Budget,2.5x prod,Break Even
0,Superman,15/12/1978,"$134,478,449.00","$166,000,000.00","$300,478,449.00","$55,000,000.00",False,NaN,Warner Bros.,PG,...,Superman,45%,5.46,94,Male,1978,"$1,404,237,104.00","$257,033,544.00","$137,500,000.00",Success
1,Superman II,19/06/1981,"$108,185,706.00","$108,200,000.00","$216,385,706.00","$54,000,000.00",False,NaN,Warner Bros.,PG,...,Superman,50%,4.01,83,Male,1981,"$725,336,273.00","$181,010,842.00","$135,000,000.00",Success
2,Superman III,17/06/1983,"$59,950,623.00","$20,300,000.00","$80,250,623.00","$39,000,000.00",False,NaN,Warner Bros.,PG,...,Superman,75%,2.06,29,Male,1983,"$245,506,947.00","$119,310,861.00","$97,500,000.00",Flop
3,Supergirl,21/11/1984,"$14,296,438.00",NaN,"$14,296,438.00","$35,000,000.00",False,NaN,Tri-Star Pictures,PG,...,Superman,100%,0.41,8,Female,1984,"$41,926,345.00","$102,642,497.00","$87,500,000.00",Flop
4,Howard the Duck,01/08/1986,"$16,295,774.00","$21,667,000.00","$37,962,774.00","$37,000,000.00",False,NaN,Universal Pictures,PG,...,Howard the Duck,43%,1.03,13,Male,1986,"$37,962,774.00","$37,000,000.00","$92,500,000.00",Flop
5,Superman IV: The Quest for Peace,24/07/1987,"$15,681,020.00","$14,600,000.00","$30,281,020.00","$17,000,000.00",False,NaN,Warner Bros.,PG,...,Superman,52%,1.78,10,Male,1987,"$81,220,728.00","$45,597,948.00","$42,500,000.00",Flop
8,The Punisher,05/10/1989,$0.00,"$30,000,000.00","$30,000,000.00","$9,000,000.00",False,NaN,New World International,R,...,Punisher,0%,3.33,25,Male,1989,"$30,000,000.00","$9,000,000.00","$22,500,000.00",Success
14,Blade,21/08/1998,"$70,087,718.00","$61,123,659.00","$131,211,377.00","$45,000,000.00",False,NaN,New Line Cinema,R,...,Blade,53%,2.92,58,Male,1998,"$131,211,377.00","$45,000,000.00","$112,500,000.00",Success
15,X-Men,14/07/2000,"$157,299,718.00","$139,039,810.00","$296,339,528.00","$75,000,000.00",False,NaN,Twentieth Century Fox,PG-13,...,X-Men,53%,3.95,82,Male,2000,"$296,339,528.00","$75,000,000.00","$187,500,000.00",Success
16,Blade II,22/03/2002,"$82,348,319.00","$72,661,713.00","$155,010,032.00","$54,000,000.00",False,NaN,New Line Cinema,R,...,Blade,53%,2.87,57,Male,2002,"$155,010,032.00","$54,000,000.00","$135,000,000.00",Success

In [51]:
# baseline rotten tomato score
rotten_score_avg = grouped_movie_df['Rotten Tomatoes Critic Score'].mean()
rotten_score_avg

Franchise
DC        57.560976
Marvel    65.208333
Name: Rotten Tomatoes Critic Score, dtype: float64

In [54]:
# Baseline average for the two
rotten_avg = marvel_dc_movie_df['Rotten Tomatoes Critic Score'].mean()
rotten_avg

62.43362831858407

In [57]:
#rotten_score_most_used = grouped_movie_df['Rotten Tomatoes Critic Score'].mode()
#rotten_score_most_used

In [61]:
# test

#marvel_info = marvel_vs_dc_df['Franchise'] == 'Marvel']
#marvel_info